/* Position and sizing of burger button */
.bm-burger-button {
    display:none;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: whitesmoke;
    border-radius: 1000px;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
    
  }


  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    top:24px !important;
    right:25px !important;
    transform: scale(1.8,1.8);

  }
  
  /* Color/shape of close button cross */
  .bm-cross {

    background: #ffffff;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 90% !important;
    overflow: hidden;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #c93135;
    font-size: 1.15em;
    overflow: hidden;

  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Individual item */
  .bm-item {
    display: flex !important;
    color: #ffffff;
    
    

    text-decoration: none;
    transition: color 0.2s;
    font-size: 24px;
    overflow: hidden;
    padding:15px;
    align-items: center;
  }
  .bm-item:hover{
    font-weight: bold;
    background: #23262f;
    border: 1px solid white;
    border-width: 1px 0px 1px 0px;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }

  @media screen and (max-width: 720px) {
    .bm-burger-button {
      display:block;
      position: absolute;
      width: 36px;
      height: 30px;
      top: 2.3%;
      right:4%; 
      transform: scale(0.9,0.9);
    } 
  }