.buildingsContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 2%;
    margin-left: 2%;
}

.buildingContainer {
    height: 30%;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 1px -1px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    transition: ease-in 0.3s;
}


.buildingContainer:hover{
    opacity: 1.0;
    transition: ease-in 0.1s;
}

.buildingImage {
    height: 100%;
    #background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/BiotechCenterRPI.jpg/2880px-BiotechCenterRPI.jpg);
    #background-image: url('../assets/imgs/buildings/AmosEaton.png');
    background-attachment: center;
    background-size: 100% 90%;
    transition: ease-in 0.3s;
}

.buildingImage:hover{
    #opacity: 1.0;
    #transition: ease-in 0.1s;
}


.buildingLabel {
    position: absolute;
    height: 25%;
    width: 100%;
    z-index: 1000;
    bottom: 0;
    background-color: #c93135;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
    color: white;
    opacity: 0.9;
}

.label{
    padding: 2%;
    margin-top: 2%;
    font-size: 20pt;
    font-weight: bold;
}